# lcov
coverage/
*.log
.package.json

# artifacts & source
node_modules
coverage/
npm-debug.log
.package.json
output.md
output/

# dotfiles
.travis.yml
.eslintrc
.eslintignore
.editorconfig
.babelrc
.gitignore
.git
